@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Plus Jakarta Sans", sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-image: linear-gradient(#000000b5, #000000b5), url(pics/Background.jpeg); /* Specify the path to your image */
    
    
    /* 2. Set the background to fixed */
    background-attachment: fixed; /* This is the key property */
    
    /* 3. Optional: other useful properties for a full-page background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-size: cover;      /* Scales the image to cover the entire container */
    background-position: center; /* Centers the image in the container */
    
}
















/* Nav Bar */

header {
    width: 100%;
    height: 80px;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    z-index: 999;
    position: fixed;
    top: 0;
}

.navlogo h1 {
    font: 16px;
    font-weight: 900;
    color: white;
}

.hamburger {
    display: none;
}

.navbar ul {
    display: flex;
}

.navbar ul li a {
    display: block;
    color: white;
    border: 1px solid white;
    font-size: 16px;
    font-weight: 700;
    padding: 5px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.navbar ul li a:hover {
    color: black;
    background-color: red;
    border: 1px solid red;
}

.navbar ul li .active {
    color: red;
    background-color: black;
    border: 1px solid red;
}

@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
    }

    .navbar {
        height: 0;
        position: absolute;
        top: 80px;
        right: 0;
        right: 0;
        width: 100vw;
        background-color: black;
        border-bottom: 2px solid white;
        transition: 0.2s;
        overflow: hidden;
        z-index: 999;
    }

    .navbar.active {
        height: 450px;
    }

    .navbar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: .5s;
        opacity: 0;
    }

    .navbar.active ul{
        opacity: 1;
    }

    .navbar ul a {
        margin-bottom: 12px;
    }
}

/* Nav Bar */






































/* Video Cards Section */

.youtubesection {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
}

.youtubesection h2 {
    font-size: 25px;
    font-family: "Lobster Two", sans-serif;
    color: red;
    margin-bottom: 30px;
}

.youtubesection h2::after {
    content: "";
    height: 5px;
    width: 50px;
    background-color: red;
    border-radius: 25px;
    display: block;
    margin: auto;
}

.youtubesection .youtubecardcontainers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.youtubesection .youtubecardcontainers .youtubecard {
    width: 325px;
    height: 280px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 2px 4px #000000;
    overflow: hidden;
    text-align: center;
    color: #2C4219;
}

.youtubesection .youtubecardcontainers .youtubecard .cardcontent h1 {
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
    color: white;
}

.youtubesection .youtubecardcontainers .youtubecard .cardcontent p {
    color: white;
}

.youtubesection .youtubecardcontainers .youtubecard .cardcontent span {
    font-weight: 800;
    color: red;
}

/* Video Cards Section */










































/* Footer Section */

.footercontainer {
    color: #fde64e;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footercontainer .footerflexrow {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footercontainer .footerflexrow li {
    padding: 0 15px;
    margin-bottom: 15px;
}

.footercontainer .footerflexrow li a {
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.footercontainer .footerflexrow li i {
    color: white;
    font-size: 22px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    line-height: 45px;
    text-align: center;
    border: 2px solid white;
    margin: 0 5px;
    cursor: pointer;
}

.footercontainer .footerflexrow li i:hover {
    color: #2C4219;
    transition: 1s ease-in-out;
    transform: rotate(360deg);
    background-color: white;
}

.footercontainer p {
    text-align: center;
    background-color: white;
    color: black;
    font-weight: 700;
    width: 100%;
    padding: 20px 0;
}


/* Footer Section */